/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wp-block-sketchpad-modified-blocks-biim {
  .wp-block-sketchpad-modified-blocks-biim-navigationbar {
    > .block-editor-inner-blocks {
      > .block-editor-block-list__layout {
        display: flex;

        figure.sketchpad-modified-blocks-biim-icon {
          flex-basis: 0;
          flex-grow: 2;
          margin: 1rem;

          button {
            width: 100%;
          }
        }

        > div:last-child {
          color: rgb(238, 238, 238);
          flex-basis: 0;
          flex-grow: 8;
          margin: 0 1.5rem;
        }
      }
    }
  }
}
