/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.wp-block-sketchpad-modified-blocks-biim {
  background-color: rgb(49, 49, 49);

  > .sketchpad-modified-blocks-biim-screen {
    margin: 0;
    padding: 0;
    min-height: 34rem;
  }

  > .wp-block-sketchpad-modified-blocks-biim-navigationbar {
    display: flex;
    padding: 0.5rem;

    > .sketchpad-modified-blocks-biim-icon {
      flex-grow: 2;
      max-width: 100px;
      margin: 0;
      
      > img {
          vertical-align: middle;
      }
    }

    .sketchpad-modified-blocks-biim-messagebox {
      flex-grow: 7;
      display: flex;
      flex-direction: column;
      min-height: 9.8rem;
      margin-left: 0.5rem;
      border: thin solid #fff;

      > p {
        color: rgb(238, 238, 238);
        margin: 0 1rem;

        &.is-style-bottom {
          order: 1;
          margin-top: auto;
        }
      }
    }
  }
}
