/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 */

.wp-block-sketchpad-modified-blocks-biim {
  background-color: rgb(49, 49, 49);

  > .sketchpad-modified-blocks-biim-screen {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
  }

  .wp-block-image figcaption {
    color: rgb(238, 238, 238);
  }

  &.is-style-messagebox-only {
    .sketchpad-modified-blocks-biim-screen {
      display: none;
    }
  }
}
