/**
 * The following styles get applied inside the editor only.
 */

.wp-block-sketchpad-modified-blocks-post-comments-count {
  display: flex;

  align-items: baseline;

  &.is-selected {
    justify-content: start;
  }

  &.has-text-align- {
    &right {
      justify-content: flex-end;
    }

    &center {
      justify-content: center;
    }
  }
}
