/**
 * The following styles get applied inside the editor only.
 */

.wp-block-sketchpad-modified-blocks-biim-navigationbar {
  display: block;

  > .block-editor-inner-blocks {
    > .block-editor-block-list__layout {
      display: flex;
      padding: 0.3125rem;

      figure.sketchpad-modified-blocks-biim-icon {
        flex-basis: 0;
        flex-grow: 2;
        margin: 0.625rem;

        button {
          width: 100%;
        }
      }

      > div:last-child {
        color: rgb(238, 238, 238);
        flex-basis: 0;
        flex-grow: 8;
        margin: 0 0.9375rem;
      }
    }
  }

  &.is-style-no-icon {
    > .block-editor-inner-blocks {
      > .block-editor-block-list__layout {
        figure.sketchpad-modified-blocks-biim-icon {
          display: none;
        }
      }
    }  
  }

  &.is-style-icon-border {
    > .block-editor-inner-blocks {
      > .block-editor-block-list__layout {
        figure.sketchpad-modified-blocks-biim-icon {
          > div {
            border: thin solid #fff;
          }
        }
      }
    }  
  }
}
