/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 */

.wp-block-sketchpad-modified-blocks-biim-navigationbar {
  display: flex;
  padding: 0.5rem;

  > .sketchpad-modified-blocks-biim-icon {
    flex-grow: 2;
    width: 100%;
    height: auto;
    min-width: 8rem;
    max-width: 11.5rem;
    margin: 0 0.5rem 0 0;

    & > img:only-child {
      vertical-align: middle;
    }
  }

  &.is-style-no-icon {
    > .sketchpad-modified-blocks-biim-icon {
      display: none;
    }
  }

  &.is-style-icon-border {
    > .sketchpad-modified-blocks-biim-icon {
      border: thin solid #fff;
    }
  }
}
