/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wp-block-sketchpad-modified-blocks-annotations {
  .sketchpad-modified-blocks-annotations-simbol {
    min-width: 1.5rem;
  }
  .sketchpad-modified-blocks-annotations-content {
    padding-left: 0.2rem;
    border-left: thin dotted black;
  }
}

.block-editor-inserter__preview-content {
  .wp-block-sketchpad-modified-blocks-annotations {
    font-size: 1.5rem;

    .sketchpad-modified-blocks-annotations-content {
      border-left: none;
    }
  }
}
