/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 */

.wp-block-sketchpad-modified-blocks-annotations {
	display: flex;

  .sketchpad-modified-blocks-annotations-simbol {
		margin-right: 1rem;
	}

  p.sketchpad-modified-blocks-annotations-content {
    margin-top: 0;
  }
}
