/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 */

.wp-block-sketchpad-modified-blocks-copy {
  button {
    display: block;
    cursor: pointer;

    &.sketchpad-modified-blocks-copy-button-align-left {
      margin-left: 0;
      margin-right: auto;
    }

    &.sketchpad-modified-blocks-copy-button-align-center {
      margin-left: auto;
      margin-right: auto;
    }

    &.sketchpad-modified-blocks-copy-button-align-right {
      margin-left: auto;
      margin-right: 0;
    }

    &:focus {
      outline: 0;
    }
  }

  .sketchpad-modified-blocks-copy-button {
    background-color: transparent;
    font-size: 2.5rem;
    line-height: 1;
    border: none;
    
    > div {
      color: #9b8f76;

      &::after {
        font-family: "dashicons";
        content: "\f481";
        vertical-align: middle;
      }
    }
  }
}

.toast-message {
  font-size: 0.9375rem;
}
